
body.footerr{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
footer{
    position: relative;
    height: auto;
    padding: 50px 100px;
    background: rgb(0, 0, 0);
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:20%;
}
footer .container .noi-dung h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 200px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
    padding: 0;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 200px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul {
    padding: 0;
}
.links ul li{
    list-style: none;
    border-bottom: 1px solid #CAD3C8;
    line-height: 32px;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    display: block;
}
.links ul li:hover a{
    color: #fff;
    margin-left: 20px;
}
.links ul li:hover{
    background-color: red;
   
}.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 200px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
    padding: 0;
}
.contact .info li{
    display: flex;
}
.contact .info li span i{
    margin-top: 15px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
@media  (max-width: 768px){
     footer{
         padding: 40px;
              }
     footer .container{
         flex-direction: column;
     }
     footer .container .noi-dung{
         margin-right: 0;
         margin-bottom: 40px;
     }
     footer .container, .noi-dung.about, .links, .contact{
         width: 100%;
     }
 }